@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*  {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
   
}

body {
    font-family: Outfit, verdana, Tahoma, sans-serif;
    
}
header {
     background-image: url(../media/portada.png);
     background-position: center;
     background-size:cover;
     background-repeat: no-repeat;
     position:sticky;
     top:0;
     z-index: 1000;
     display: flex;
     align-items: center;
     justify-content: space-between;    
}

header img {
     width: 100px;
     margin: 15px;    
}
 header a {
    text-decoration:none;
    color: #ffffff;
 }

 header a:hover {
     color: lightblue;
}


.flex-links {
    display: flex;
    list-style-type: none;
    gap: 5px;
    flex-wrap: wrap;
}

/*Acerca de Nosotros*/

.nosotros {   
     text-align: center;
     margin-top: 20px;
     padding:10%;
     background-image: url(../media/profile_pagina.png);
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
}

.txt-nosotros {
 border-radius: 10px;
 backdrop-filter: blur(5px);
 font-size: small;
padding-top: 10px;
}


/*productos*/

.section-prod {
    background-color: #ffffff;
}

.prod-titulo {
    text-align: center;
    margin: 5% 0;
}


.flex-container {
    background-color:lightblue;
    border : 1px solid lightblue;
    border-radius: 10px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

}

.flex-container  img{
    width: 300px;
}

.item {
    border:2px solid black;
    border-radius: 10px;
    text-align:center;
    padding: 10px;
    background-color:white;
    margin-top: 25px;
    margin-bottom: 25px;

}

/*card*/

.precio {
    font-size: x-large;
    text-align:left;
    margin-left: 1%;
} 

.oferta {
    font-size: medium;
    font-weight: bold;
    color: green;
    text-align:left;
    margin-left: 1%;
}

.titulo{
    font-weight:bold;
    text-align:center;
    
}


.descripcion {
    font-size: small;
    text-align:left;
   // margin: 5px;
}

.btn-item {
    background-color: #f24c00;
    color: #f9c784;
    padding: 3%;
    border-radius: 10px;
    margin: 10px;
}

.btn-item:hover {
    background-color: #f9c784;
    color: #f24c00;
    cursor: pointer;
}

/*formulario*/
.form-section {

   display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    color:black;   
    text-align: center;
     margin:auto;

    font-family: Outfit, verdana, Tahoma, sans-serif;
}

.formulario 
{
    border : 1px solid lightblue;
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: large;
    background-color:lightblue;
  

}

.nombre
{
    margin: 10px;
}

.mail
{
    margin-bottom: 10px;
}
.mensaje
{
    margin-bottom: 10px;
}

.enviar
{
    margin-bottom: 10px;
    background-color: #0c1a5b;
    border-radius: 10px;
    color: #e7e7e7;
    padding: 5px;
}
.enviar:hover
{
    background-color: #485696;
    
    cursor: pointer;
}


footer 
{
    background-color: black;
    color: #e7e7e7;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom:25px;
    text-align: center;
    border: 2px solid black;
    font-family: Outfit, verdana, Tahoma, sans-serif;
    border-radius: 10px;
   // padding: 10px;

}

.footer-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.ft-redes svg{
    width: 48px;
}

.ft-links{
    display: flex;
    flex-direction: column;
}

.ft-links a {
    text-decoration: none;
    color: #e7e7e7;

}

.ft-links a:hover {
    color: lightblue;
    text-decoration: underline;

}
.ft-copyright
{
    display: block;
}

/*medias Queries*/
/*Media query para dispositivos superiores 0 px  a 400px de ancho*/
@media   only  screen and (max-width: 400px) 
{
header   
{
    flex-direction: column;
  
}
}


/*Media query para dispositivos superiores a 601px de ancho*/
@media  only screen   and (min-width:601.1px)
{
header{
    font-size: clamp(1rem, 32px, 2rem);
   
}


nav{
    margin-right: 50px;
}

.txt-nosotros
{
font-size: clamp(1rem, 24px, 2rem);
   

}
.flex-container  img
{
    width: 400px;
}




.flex-links{
    gap: 15px;
}

    footer {
        background-color: black;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .ft-redes svg{
    width: 96px;
}
}